/*------------HTML-----------*/
html {
  scroll-behavior: smooth;
}


/*------------Body-----------*/
body {
	margin:0;
	padding:0;
	position:relative;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	color:#505962;
}

/*------------Back To Top Button-----------*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}


/*------------Landing Area-----------*/
h2{
	color:white;
	font-weight:bold;
}

.container-top{
	height:90vh;
}

.landing-bio{
    position: absolute;
    top: 150px;
    left: 95px;
    color:white;

}

#landing-image{
	object-fit: cover;
	width: -webkit-fill-available;
}


/*------------Navigation-----------*/
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size:.9rem;
	letter-spacing: .1rem;
	background-color:rgba(0,0,0,0.6)!important;
}

.navbar-nav li {
	padding-right:.7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color:#fff;
	padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:#E27F26;
}



/*------------About Section-----------*/

#About{
	padding:3rem;
	height:100vh;
	background-color:#004F50;
}

.about-me {
	padding-top: 30px;
	color:white;
	font-size: 1.2em;
}

/*------------Work Section-----------*/

#Work{
	padding:3rem;
	height:100vh;
	background-color:#222944;
}

/*------------Skills Section-----------*/

#Skills{
	padding:3rem;
	height:100vh;
	background-color:#00AF86;
}

/*------------Contact Section-----------*/
#Contact{
	padding:3rem;
	height:100vh;
	background-color:#E27F26;
}

/*------------CV Section-----------*/

#CV{
	padding:3rem;
	height:50vh;
	background-color:#00B0AD;
}

footer{
	background-color:#3a3a3a;
	height:40vh;
	padding:3rem;
}
