@import url('https://fonts.googleapis.com/css?family=Ubuntu:500,700&display=swap');


/*------------HTML-----------*/
html {
  scroll-behavior: smooth;
}


body {
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	color:#505962;

}


/*---Navigation--*/
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size:.9rem;
	letter-spacing: .1rem;
	background-color:rgba(0,0,0,0.6)!important;
}

.navbar-nav li {
	padding-right:.7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color:#fff;
	padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:#E27F26;
}

/*------------Back To Top Button-----------*/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #E27F26;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}

.btn.btn-danger {
  border: none;
  outline: none;
  background-color: #E27F26;
  color: white;
  cursor: pointer;
}

/*--Landing Page--*/

#landing-img {

	background-image: url('../images/landing1.jpg');
	background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.caption {
	width:100%;
	max-width:100%;
	position:absolute;
	top:30%;
	z-index:1;
	color:#fff;
	text-transform: uppercase;
}

.caption h1 {
	font-size:3.8rem;
	font-weight: 700;
	letter-spacing:.3rem;
	text-shadow:.1rem .1rem .8rem black;
	padding-bottom:1rem;
}

.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom:1.0rem;
}

.btn-lg {
	color:#00AF86;
	border-width:medium;
	border-radius: 0;
	padding: .6rem 1.3rem;
	font-size: 1.1rem;
}

.btn-outline-light {
	color:#E27F26;
	background-color:#00AF86;
	border-color:#00AF86;
}

/*------About-me------*/

#about 
	{background-image: url('../images/profile1.png');
	background-position: center;
	background-size: cover;
	width: 100vw;
	background-color:#fff;
	color:#3a3a3a;
	}

#about-space{
	padding-top:80px;	
}

#about h1 {
	padding-left:20px;
}

.about-me {
	padding-left:20px;
	padding-top:80px;
	font-weight:lighter;
	font-size:1.1rem;
	padding-bottom: 50px;
}
p {margin-bottom:0;}

/*------Work------*/

#work{
	background-color:#e9ecef;
	background-image:url('../images/work.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    background-position: bottom;
    height: 120vh;
    width: 100vw;
    margin-bottom: 20px;
    z-index: 1;
}

h3{
	color:#fff;
}

#work h1 {
	padding:2.5rem 1.3rem;
	
	color:#fff;
}

#work-space {
	padding-top:50px;
}

.workcard {
	padding-left: 2.5rem;
	padding-top:2.5rem;
}

/*------Skills------*/

#skills{
	height:80vh;
	background-color:#181818;	
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    background-position: bottom;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

#skills h1{
	padding-top:2.5rem;
	padding-bottom:2.5rem;
	top:50px;
	color:#fff;
}
#skills-space{
	padding-top:50px;
}

#skills-q {
	margin-top:28px;
	color:#fff;
}

.skills-h5 {
color:#fff;}

/*------Contact------*/

#contact{
	height:800vh;
	background-image: url('../images/phone.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    	background-position: bottom;
       	width: 100vw;
   	margin-bottom: 0px;
   	z-index: 1;
}

#contact h1 {
	padding-top:2.5rem;
	padding-bottom:2.5rem;
	top:50px;
	color:#fff;
}

#contact-space{
	padding-top:50px;
}

/*------CV------*/

#cv{
	height:30vh;
	background-color:#181818;
}
#cv h1 {
	padding:2.5rem 1.3rem;
	top:25px;
	color:#fff;
}

#cv-space{
	padding-top:30px;
}


.modal-body {
    font-size: 1.15em;
}

.btn-default {
    background-color: #ccc;
}



/*-----------Horizontal line--------*/
.line { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0); 
}


/*------------Modal ----------*/
.modal-backdrop.fade {
    opacity: .5;
}
.fade:not(.show) {
     opacity: 1;
}

.modal.show .modal-dialog {
	top:30%;
}

/*---------Cards About Me----*/
.aboutme{
	display:flex;
}

.card-body .row {
    text-align: center;
    padding-top: 10px;
}

#accordion{
	display:flex;
}

.card {	
    background-color: #fdfdfd;
    border-radius: 2.5%;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card:hover {
    opacity: 1;
}

@media (max-width: 768px) and (min-width: 375px) {
	#accordion {
		display: block;

	}
	.card{display:block;}
	}

button.btn.btn-link{
	text-align: center;
}


/*--------social Media icons ------*/
 /* Style all font awesome icons */
.fab .fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect  */
.fab:hover {
  opacity: 0.7;
}



/* Facebook */
.fa-facebook {
  background: #3a3a3a;
  color: white;
}

.fa-facebook:hover{
	color:#3B5998;
}

/* Github */
.fa-github{
	background: #3a3a3a;
  	color: white;
}
.fa-github:hover{
	color:#00b489;
}

/* Twitter */
.fa-twitter {
  background: #3a3a3a;
  color: white;
} 
.fa-twitter:hover{
background: #55ACEE;
}

/* Youtube */
.fa-youtube {
  background: #3a3a3a;
  color: white;
}

.fa-youtube:hover{
	color:#bb0000;
}
/* Linkedin */

.fa-linkedin-in {
  background: #3a3a3a;
  color: white;
}

.fa-linkedin-in:hover{
	color: #007bb5;
}


/* Download */
.fa-file-download {
	background: #3a3a3a;
  	color: white;
}

a {
    padding: 5px 15px 5px 10px;
    background-color: transparent;
}

.alignment {
    line-height: 2px;
}


